---
import Layout from "../../layouts/Layout.astro"
import Section from "../../components/Section.astro"
import SubSection from "../../components/SubSection.astro"
import Image from "../../components/Image.astro"
---

<Layout title="About">
<Section title="About"></Section>

<SubSection title="SIIP efforts in TAM 2XX">
    <Image src="/about/studentLearningOutcomes.PNG" width="7"/>
    <Image src="/about/assessmentOfLearning.PNG" width="7"/>
    <Image src="/about/activeAndCollabLearning.PNG" width="7"/>
    <Image src="/about/blendedLearning.PNG" width="7"/>
    <Image src="/about/referencePage.PNG" width="7"/>
    <Image src="/about/onlineHomework.PNG" width="7"/>
    <Image src="/about/quizRetries.PNG" width="7"/>
</SubSection>

<SubSection title="Importance of collaboration in learning">
    <p>The TAM 2XX staff has worked on engineering education research with the <a target="_blank" href="https://www.colearnlab.org/" >Collaborative Learning Laboratory</a> in the Department of Education. This project is called Collaborative Support Tools for Engineering Problem Solving (CSTEPS).</p>

    <p>As Teaching and Course Assistants, we try to encourage a collaborative environment using the principle of this  <a target="_blank" href="/about/CollabTeachingSequence.pdf">teaching sequence.</a></p>
</SubSection>
</Layout>