---
import Layout from "../../layouts/Layout.astro"
import Section from "../../components/Section.astro"
import SubSection from "../../components/SubSection.astro"
import Image from "../../components/Image.astro"
import Row from '../../components/Row.astro';
import Col from '../../components/Col.astro';
---

<Layout title="About">

<SubSection id="mission" title="Mission">
       <p>  Create quality and freely accessible on-line educational materials that enhance student curiosity, connection and creates value for both student and instructor.</p>
</SubSection>

<SubSection id="history" title="Project history">
       <p> The course reference pages began as part of a larger college-wide effort from the University of Illinois at Urbana Champaign (UIUC) Strategic Instructional Initiatives Program (SIIP).  
              The reference pages were created using a Community of Practice (COPs) model which centers on instructors and staff committed to the collaborative development of educational resources.  
              Initial pages for Dynamics were developed in 2014 by Prof. Matt West and with the formation of the COPs have now been extended to multiple courses offered by the Department of Mechanical Science and Engineering.
              The pages are under continual development and revision by a dedicated team of faculty, graduate assistants, and undergraduate students.</p>
       <p> The reference pages have been created with the following tenants in mind:  </p>

<Row>
    <Col values="12 md-6">
        <Image src='/MainFig.png' class_=""></Image>
    </Col>
    <Col values="12 md-6">
        <p>Accessible: the references pages are an open resource for anyone (students, instructors, or the public) to use and can be accessed on our github site.</p>
        <p>Informative: the content has been designed to provide critical information and concepts for students when studying for exams or working on homework. </p>
    </Col>
</Row>

 <p>Adaptable: a web-based platform enables easy updates and editing of the reference pages.</p>
<p>Impactful: real-world examples help students understand the value of their engineering education and how the content connects to their future career as engineers.</p>
<p>Interactive: web-tools and interactive graphics assist with learning, help develop intuition, and increases engagement.</p>
<p>Interdisciplinary: the pages link topics across multiple-courses and helps students understand the connection between courses.</p>

</SubSection>

<SubSection id="team" title="The team">

<Image src='/about/team2.png' class_=""></Image>


</SubSection>

<SubSection id="thanks" title="Acknowledgements">
       <p> Funding for the development of the course reference pages has been provided by: </p>
       <p> The Grainger College of Engineering Strategic Instructional Innovations Program</p>
        <p> Kern Family Foundation </p>
        <p> Department of Mechanical Science and Engineering </p>
       <p> Some images used were created with biorender.com </p>
</SubSection>

</Layout>
