---
import Layout from "../../../layouts/Layout.astro"
import Section from "../../../components/Section.astro"
import SubSection from "../../../components/SubSection.astro"
import Image from "../../../components/Image.astro"
---

<Layout title="About">
<Section title="Setup your school's reference pages">
</Section>
</SubSection>
</Layout>