:root{
    --illini-orange: #E84A27;
    --illini-blue: #13294B;
}


.bg-highlight{
    background-color: #f39539;
}

.title-orange{
    color: var(--illini-orange);
}

.bg-blue{
    background-color: var(--illini-blue);
}

.bg-yellow{
    background-color: #fffff0;
}
