<style>
    .card-container{
        width: calc(100%);
        font-size: 1rem;
    }
    
    .sticky{
        align-self: start;
        position: sticky;
        top: calc(53px + 1rem);
    }

    @media (min-width: 992px){
        .card-container{
            width: 100%;
        }
    }
</style>

<div class="d-flex flex-column align-items-center w-100 sticky mt-2 mt-lg-0">
    <div class="card-container px-0">
        <slot />
    </div>
    
</div>