---
const {title='Did you know?'} = Astro.props;
---

<div class="card w-100 p-2 mb-2 text-black" style="background: #e6f1f6;">
    <div class="card-title">
        <p class="fw-bold mb-1 h3">{title}</p>
    </div>
    <div class="w-100">
        <slot />
    </div>
</div>