---
const {code = "", language="", closed_by_default="False", id="", closed_height=60} = Astro.props;
---

<link class="code-theme" rel="stylesheet" href="">

<script is:inline>
    codeboxes = document.querySelectorAll(".code-theme");

    if (theme === 'light'){
        

        Array.from(codeboxes).forEach(e => {
            e.href = "/static/css/stackoverflow-light.css";
        })
    }else{
        Array.from(codeboxes).forEach(e => {
            e.href = "/static/css/atom-one-dark.css";
        })
    }

    function copy_to_clipboard(e){
        if (window.innerWidth > 768){
            navigator.clipboard.writeText(e.innerText);
            e.previousElementSibling.firstElementChild.classList.add("show-alert");
            window.setTimeout(function(){e.previousElementSibling.firstElementChild.classList.remove("show-alert");}, 1500)
        }
        
    }
</script>

<style is:global>

    pre{
        border-radius: 1rem;
        display: block;
    }

    pre:hover{

    }

    .show-alert{
        display: block !important;
        opacity: 1 !important;
        scale: 1 !important;
        transition: all 0s;
    }


    .alert-container{
        position: fixed;
        left: 0;
        z-index: 10000;
    }

    @media (width >= 992px){
        .alert-container{
            top: 3.5rem;
        }
    }

    @media (width < 992px){
        .alert-container{
            top: .5rem;
        }
    }


    .alert-container p{
        margin: 0;
        transition: all 1s cubic-bezier(0,.8,0,.8);
        transition: all 1s cubic-bezier(0,.8,0,.8) allow-discrete;
        opacity: 0;
        scale: 0;
        display: none;
        z-index: 10000;
    }
</style>

<div class="alert-container w-100 d-flex flex-row justify-content-center">
<p class="alert alert-success">
    <span class="fw-bold">Text successfully copied to clipboard!</span>
</p>
</div>

<pre class="hljs px-3" style="cursor: copy;" onclick="copy_to_clipboard(this);" >
    <code class={language != "" ? "language-" + language : ""} style="white-space: pre-line; " onload="console.log(this);" id={id ? `code-${id}` : ""}>
        {code}
    </code>
</pre>

<script is:inline define:vars={{closed_by_default, id, closed_height}}>

    if (closed_by_default != "False" ){
        el = document.querySelector(`code#code-${id}`).parentElement;

        el.style = `cursor: copy; max-height: ${Number(closed_height)}px; overflow: hidden; margin-bottom: 0px;`;

        node = document.createElement('p');
        node.classList.add("text-center", "text-decoration-underline")

        node.onclick = function(){
            console.log(this.previousSibling)
            this.previousSibling.style="cursor:copy;"
            this.style="display:none";
        }

        console.log(node)

        node.innerText = "Expand code example";
        node.style = "color: var(bs-body-color); cursor: pointer;"

        el.after(node);
    }
</script>

<script is:inline>hljs.highlightAll();</script>