---
const { id="", title="", derivation="", background=""} = Astro.props;
---

<style>
    .derivation_container{
        background-color: #f8f8f8;
        border-top: 1px solid #444;
        border-radius: 5px;
    }

    .background-yellow{
        background-color: #f0f0d0;
        border: 1px solid #444;
        border-radius: 5px;
    }
</style>



<div id={id} class={background ? 'background-yellow overflow-hidden my-2 text-black' : 'mb-2'}>
    { title &&
        <div class="mb-2 px-2">
            {title && title}{id && <small>{` #${id}`}</small>}
        </div>
    }

    <div class="w-100 p-2" style="overflow-y: hidden; overflow-x: auto;">
        <slot />
    </div>

    {derivation && <button class="btn btn-secondary py-0" id={'derivation_btn_'+id}>Derivation +</button>}
    {derivation && 
        <div id={'derivation_menu_'+id}>
            <div class="derivation_container p-2">
                <slot name="derivation"/>
            </div>
        </div> 
    }
</div>




<script define:vars={{id, derivation}} is:inline>

    $(document).ready(function(){
        const menu = $(`#derivation_menu_${id}`);
        menu.hide();

        const button = $(`#derivation_btn_${id}`);
        
        button.on('click', function(){
            menu.slideToggle('fast', function(){
                button.text(button.text() == 'Derivation +' ? 'Derivation -' : 'Derivation +')
            })
        })
    })
    
</script>



