---
import Searchbar from "./Searchbar.astro";

const path = Astro.url.pathname;
---
<script define:vars={{path}} is:inline>
    path_components = path.split("/")
    console.log(path_components)

    $(document).ready(function(){
        class_values = document.querySelectorAll("li[class-value]")

        Array.from(class_values).forEach(e => {
            class_name = e.getAttribute("class-value")
            if(path_components.includes(class_name)){
                e.classList.add('d-block')
            }
        })
    })
</script>


<style>
:root{
    --nav-bg: #e8e9eb;
    }

li[class-value]{
    display: none;
    }

.illini-blue{
    color: var(--illini-blue);
    }

.block-i-container{
    background-color: var(--illini-blue);
    padding: 8px 10px;
    }

.block-i__fill{
    fill: var(--illini-orange);
    }

.block-i__outline{
    fill: white;
    }

.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    }

.wordmark-container{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.91px;
    font-size: 14px;
    padding-bottom: 8px;
    display: block;
    text-transform: uppercase;
    }

a{
    color: var(--illini-blue);
    text-decoration: none;
    padding: 0;
    }

a:hover{
    color: var(--altgeld-orange) !important;
    }

.campus .row {
    max-width: 1160px;
    padding: 0 0 0 10px;
    }

.campus-wordmark__link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    }

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    }

.source-pro{
    font-family: 'SourceSansPro', sans-serif;
    -webkit-font-smoothing: antialiased;
    }

header {
    position: relative;
    width: 100%;
    z-index: 1001;
    background-color: white;
    color: var(--illini-blue);
    border-top: 8px solid var(--illini-orange);
    font-size: 16px;
    font-weight: 600;
    line-height: initial;
    border-bottom: 0px solid #ccc;
    }

@media (width <= 992px){
    header {
    border-bottom: 1px solid #ccc;
    }
    }

.site_identification {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }

.parent_name {
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    font-family: 'SourceSansPro', sans-serif;
    -webkit-font-smoothing: antialiased;
    }

.site_name{
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-family: 'SourceSansPro', sans-serif;
    -webkit-font-smoothing: antialiased;
    }

.site .row {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    padding: 16px 10px;
    z-index: 2;
    }

.site .row {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    padding: 16px 10px;
    z-index: 2;
    }

nav{
    background-color: var(--nav-bg);
    }

navbar-nav{
    gap: 16px;
    }

.navbar #mainnav {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    }

.navbar .nav-item > a.nav-link {
    text-align: center;
    font-weight: bold;
    padding: 8px 10px 10px 10px;
    cursor: pointer;
    }


#mainnav-toggler-container button {
    display: flex;
    padding: 8px 12px;
    gap: 15px;
    background-color: #1e3877;
    color: white;
    border: none;
    border-radius: 0.25rem;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    }

#mainnav-toggler-container button[aria-expanded=false] .icon::before {
    content: '\f0c9';
    }

#mainnav-toggler-container button[aria-expanded=true] .icon::before {
    content: '\f00d';
    }

.navbar .nav-item.dropdown.show {
    background-color: white;
    }

.statics-menu{
    columns: 3;
    }


@media (width <= 768px){
    .statics-menu{
    columns: 2;
    }
    }

.dynamics-menu{
    column-count: 2;
    }

.menu li{
    page-break-inside: avoid;
    margin: 0 1rem .25rem 1rem;
    padding-left: .5rem;
    }

.solids-menu{
    columns: 2;
    }

@media (width <= 578px){
    .course-menu{
    columns: 1 !important;
    }
    }

ol li::marker {
    color: var(--illini-blue);
    }

li:hover > a{
    color: var(--altgeld-orange);
    }

ol li:hover::marker{
    color: var(--altgeld-orange);
    }

.tile-list{
    background-color: white;
    }

.theme-toggler{
    cursor: pointer;
    color: var(--illini-blue);
    }

.theme-toggler:hover{
    color: #c84113;
    }

#theme-icon{
    transition: all .2s ease-in;
    }

@media (width > 998px){
    nav{
    align-self: start;
    position: sticky;
    top: 0;
    z-index: 1000;
    }
    }
@media (width <=  998px){
    nav{
    position: relative;
    }
    }


.menu{
    color: var(--illini-blue);
    font-weight: bold;
    background-color: white;
    font-size: 18px;
    }

.dropdown-menu h2{
    color: var(--illini-blue);
    font-weight: bold;
    }

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

.dropdown-toggle span {
    font-size: 1.1rem !important;
    line-height: 26.4px;
    }

.fontsize-11{
    font-size: 1.1rem !important;
    line-height: 26.4px;
    }

.dropdown-toggle::after{
    font-size: 1.2rem !important;
    }
</style>

<header >

<div class="container-fluid site px-0 d-flex flex-column">
<div class="row wordmark flex-nowrap align-items-center d-flex flex-wrap flex-lg-row flex-column w-100">
    <div class="col d-flex flex-fill px-0">
        <div class="site_identification">
            <div class="parent_name hide-empty d-none d-sm-block" data-value="35">

            <span> </span>
            </a>
        </div>
        <div class="site_name">
<!--            <a href="/" aria-label="Mechanical Science &amp; Engineering" class="site_name">-->
            <span>Reference Pages</span>
            </a>
        </div>
    </div>
</div>

<div class="col d-flex justify-content-end px-0 flex-fill align-items-center mt-2 mt-lg-0">
<div class="d-block w-100 pe-2">
<Searchbar/>
</div>
<div id="mainnav-toggler-container" class="d-block d-lg-none ps-1 ps-sm-2">
<button class="navbar-toggler d-flex flex-row align-items-center" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#mainnav">
<i class="bi bi-list source-pro" style="font-size: 2rem; font-style: normal; font-weight: 700;"></i> <span class="label d-none d-sm-block source-pro" style="font-size: 1.25rem; font-weight: 700;">Menu</span>
</button>
</div>
</div>
</div>


</div>
</header>

<nav class="navbar navbar-expand-lg py-0 d-flex w-100" aria-label="Main Menu">
<div class="navbar-collapse collapse pt-2 pb-2 pb-lg-0" id="mainnav">
<ul class="navbar-nav w-100">
<li class="dropdown mega nav-item">
<a class="nav-link" href="/" style="font-size: 1.1rem !important; line-height: 26.4px;">
<span>Home</span>
</a>
</li>
<li class="dropdown mega nav-item"  class-value="sta">
<a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" aria-label="About" class-value="sta">
<span>Statics</span>
</a>
<div class="dropdown-menu tile-list px-2" id="mainnav-statics">
<section class="tile menu white-box col">
<h2><a href="/sta" aria-label="About">Statics</a></h2>
<ol style="column-fill: balance;" class="course-menu statics-menu">
<li><a href="/sta/introduction?origin=sidebar">Introduction</a></li>
<li><a href="/sta/cartesian_coordinates?origin=sidebar">Cartesian coordinates</a></li>
<li><a href="/sta/vectors_scalars?origin=sidebar">Vectors and scalars</a></li>
<li><a href="/sta/free_body_diagrams?origin=sidebar">Free body diagrams</a></li>
<li><a href="/sta/moments?origin=sidebar">Moments</a></li>
<li><a href="/sta/force_systems?origin=sidebar">Force systems</a></li>
<li><a href="/sta/reaction_forces?origin=sidebar">Reaction forces</a></li>
<li><a href="/sta/trusses?origin=sidebar">Trusses</a></li>
<li><a href="/sta/frames_and_machines?origin=sidebar">Frames and machines</a></li>
<li><a href="/sta/shear_moment_diagrams?origin=sidebar">Shear force & bending moment diagrams</a></li>
<li><a href="/sta/friction?origin=sidebar">Friction</a></li>
<li><a href="/sta/centers_of_mass?origin=sidebar">Center of mass</a></li>
<li><a href="/sta/hydrostatic_fluid_pressure?origin=sidebar">Hydrostatic fluid pressure</a></li>
<li><a href="/sta/moment_of_inertia?origin=sidebar">Moment of inertia</a></li>
<li><a href="/sta/virtual_work?origin=sidebar">Virtual work</a></li>
</ol>
</section>
</div>
</li>
<li class="dropdown mega nav-item " class-value="dyn">
<a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" aria-label="About" class-value="dyn">
<span>Dynamics</span>
</a>
<div class="dropdown-menu tile-list px-2" id="mainnav-dynamics">
<div class="d-flex">
<section class="tile menu white-box col">
<h2><a href="/dyn" aria-label="About">Dynamics</a></h2>
<ol style="column-fill: balance-all;" class="course-menu dynamics-menu">
<li><a href="/dyn/vectors?origin=sidebar">Vectors</a></li>
<li><a href="/dyn/vector_calculus?origin=sidebar">Vector calculus</a></li>
<li><a href="/dyn/particle_kinematics?origin=sidebar">Particle kinematics</a></li>
<li><a href="/dyn/particle_kinetics?origin=sidebar">Particle kinetics</a></li>
<li><a href="/dyn/rigid_body_kinematics?origin=sidebar" style="break-inside: avoid;">Rigid body kinematics</a></li>
<li><a href="/dyn/rigid_body_kinetics?origin=sidebar">Rigid body kinetics</a></li>
<li><a href="/dyn/contact_and_rolling?origin=sidebar">Contact And rolling</a></li>
<li><a href="/dyn/work_and_energy?origin=sidebar">Work and energy</a></li>
</ol>
</section>
</div>
</div>
</li>
<li class="dropdown mega nav-item " class-value="sol">
<a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" aria-label="About" class-value="sol">
<span>Solid mechanics</a></span>
</a>
<div class="dropdown-menu tile-list px-2" id="mainnav-solids">
<div class="d-flex" >
<section class="tile menu white-box col">
<h2><a href="/sol" aria-label="About">Solid mechanics</a></h2>
<ol style="column-fill: balance;" class="course-menu solids-menu">
<li><a href="/sol/stress?origin=sidebar">Stress</a></li>
<li><a href="/sol/strain?origin=sidebar">Strain</a></li>
<li><a href="/sol/material_properties?origin=sidebar">Material properties</a></li>
<li><a href="/sol/axial_loading?origin=sidebar">Axial loading</a></li>
<li><a href="/sol/torsion?origin=sidebar">Torsion</a></li>
<li><a href="/sol/shear_moment_diagrams?origin=sidebar">Shear moment diagrams</a></li>
<li><a href="/sol/bending?origin=sidebar">Bending</a></li>
<li><a href="/sol/transverse_shear?origin=sidebar">Transverse shear</a></li>
<li><a href="/sol/pressure_vessels?origin=sidebar">Pressure vessels</a></li>
<li><a href="/sol/combined_loading?origin=sidebar">Combined loading</a></li>
<li><a href="/sol/stress_transformation?origin=sidebar">Stress transformation</a></li>
<li><a href="/sol/failure_theories?origin=sidebar">Failure theories</a></li>
<li><a href="/sol/beam_deflection?origin=sidebar">Beam deflection</a></li>
<li><a href="/sol/buckling?origin=sidebar">Buckling</a></li>
</ol>
</section>
</div>
</div>
</li>
<li class="dropdown mega nav-item " class-value="thermodynamics">
<a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" aria-label="About" class-value="thermodynamics">
<span>Thermodynamics</a></span>
</a>
<div class="dropdown-menu tile-list px-2" id="mainnav-solids">
<div class="d-flex" >
<section class="tile menu white-box col">
<h2><a href="/thermodynamics" aria-label="About">Thermodynamics</a></h2>
<ol style="column-fill: balance;" class="course-menu solids-menu">
<li><a href="/thermodynamics/thermodynamic_systems?origin=sidebar">Thermodynamic systems</a></li>
<li><a href="/thermodynamics/substances?origin=sidebar">Substances</a></li>
<li><a href="/thermodynamics/heat_and_work?origin=sidebar">Heat and work</a></li>
<li><a href="/thermodynamics/mass_and_energy_balances?origin=sidebar">Mass and energy balances</a></li>
<li><a href="/thermodynamics/complex_problems?origin=sidebar">Complex problems</a></li>
<li><a href="/thermodynamics/thermodynamic_devices?origin=sidebar">Thermodynamic devices</a></li>
<li><a href="/thermodynamics/entropy?origin=sidebar">Entropy</a></li>
<li><a href="/thermodynamics/cycles?origin=sidebar">Cycles</a></li>
</ol>
</section>
</div>
</div>
</li>
<li class="dropdown mega nav-item " class-value="md">
<a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" aria-label="About" class-value="md">
<span>Mechanism design</span>
</a>
<div class="dropdown-menu tile-list px-2" id="mainnav-<md>">
<div class="d-flex">
<section class="tile menu white-box col">
<h2><a href="/md">Mechanism Design</a></h2>
<ol style="column-fill: balance; columns: 3 <= how many columns do you want your menu to have?;" class="course-menu">
<li><a href="/md/Graphical_Linkage_Synthesis?origin=sidebar">Graphical linkage synthesis</a></li>
<li><a href="/md/Instant_Centers?origin=sidebar">Instant centers</a></li>
<li><a href="/md/Cams?origin=sidebar">Cams</a></li>
<li><a href="/md/Position_Velocity_Acceleration?origin=sidebar">Position velocity acceleration</a></li>
<li><a href="/md/Dynamic_Force_Analysis?origin=sidebar">Dynamic force analysis</a></li>
<li><a href="/md/Virtual_Work?origin=coursemenu">Virtual work</a></li>
</ol>
</section>
</div>
</div>
</li>

<li class="dropdown mega nav-item" class-value="mf">
<a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" aria-label="About" class-value="mf">
<span>Machine failure</span>
</a>
<div class="dropdown-menu tile-list px-2" id="mainnav-<md>">
<div class="d-flex">
<section class="tile menu white-box col">
<h2><a href="/mf">Machine Failure</a></h2>
<ol style="column-fill: balance; columns: 3 <= how many columns do you want your menu to have?;" class="course-menu">
<li><a href="/mf/Stress_Concentrations?origin=sidebar">Stress concentrations</a></li>
<li><a href="/mf/Failure_Theories?origin=sidebar">Failure theories</a></li>
<li><a href="/mf/Threaded_Components?origin=sidebar">Threaded components</a></li>
</ol>
</section>
</div>
</div>
</li>
<!-- ADD YOUR COURSE HERE -->
</ul>
<span class="navbar-text d-flex flex-row justify-content-center align-items-center" style="padding: 8px 10px 10px 10px;"><a class="me-2 fw-bold nav-link fontsize-11" href="/about">About</a></span>
<span class="navbar-text d-flex flex-row justify-content-center align-items-center theme-toggler" style="padding: 8px 10px 10px 10px;" onclick="toggle_theme();" >
<i class="bi ps-1 pe-2 m-0" id="theme-icon"></i>
<p class="nav-link active pe-1 m-0 fw-bold fontsize-11" style="text-wrap: nowrap;">Toggle theme</p>

<script is:inline>
const theme_icon = document.querySelector("#theme-icon");
//bi-moon
if (theme == "dark"){
    theme_icon.classList.add("bi-moon-stars-fill");
    }else{
    theme_icon.classList.add("bi-sun-fill");
    }
</script>
</span>
</div>
</nav>

<div id="scrollToTopDiv" class=" d-lg-none flex-column align-items-center position-fixed w-100" style="bottom: 10px; cursor: pointer; z-index: 1000;" onclick="scrollToTop()" >
<div class="d-flex flex-row align-items-center justify-content-center px-2 bg-white" style="border-radius: 1000px; border: 2px solid black;">
<i class="bi bi-arrow-up-short m-0 text-black" style="font-size: 32px;"></i>
<p class="m-0 text-black prevent-select">Scroll back to top</p>
</div>
</div>

<script is:inline>

window.onscroll = function(){showHideScrollDiv()};

function showHideScrollDiv(){
    minHeight = document.querySelector('header').clientHeight;
    div = document.querySelector('#scrollToTopDiv');

    if (document.body.scrollTop > minHeight || document.documentElement.scrollTop > minHeight){
    div.style.display = 'flex'
    }else{
    div.style.display = 'none'
    }
    }

showHideScrollDiv();

function scrollToTop(){
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }

//experiment for on hover menu activation

$("a.nav-link").on('click', function(e){
    if (window.innerWidth >= 992) {
    $(location).prop('href', "/"+$(this).attr("class-value"));
    console.log('href', "/"+$(this).attr("class-value"))
    }


    })


//activate dropdown menus on mouse hover
$("#mainnav .nav-item").on("mouseenter",
function (e) {
    if (window.innerWidth >= 992) {
    $("#mainnav .show").removeClass("show");
    $("#mainnav [aria-expanded=true]").attr("aria-expanded", "false");
    $(this).addClass("show");
    $(this).find(".dropdown-menu").addClass("show");
    $(this).find(".dropdown-toggle").attr("aria-expanded", "true");
    }
    }).on("mouseleave", function (e) {
    if (window.innerWidth >= 992) {
    $(this).removeClass("show");
    $(this).find(".dropdown-menu").removeClass("show");
    $(this).find(".dropdown-toggle").attr("aria-expanded", "false");
    }
    }
);

$("#mainnav .nav-link").on("click", function (e) {
    if (window.innerWidth < 992) {
    if ($(this).hasClass("dropdown-toggle")) {
    e.preventDefault();

    if (!$(this).parent().hasClass("show")) {
    $(this).attr("aria-expanded", "true");
    var origPos = $(this).offset().top;
    var windowPos = $(document).scrollTop();
    $("#mainnav .show").removeClass("show");
    $(this).parent().addClass("show");
    $(this).parent().find(".dropdown-menu").addClass("show");
    var newPos = $(this).offset().top;
    if (windowPos > newPos) {
    var newWindowPos = newPos - origPos + windowPos;
    if (newWindowPos < 0) {
    newWindowPos = 0;
    }
    $(document).scrollTop(newWindowPos);
    }
    }
    else {
    $(this).attr("aria-expanded", "false");
    $(this).parent().removeClass("show");
    $(this).parent().find(".dropdown-menu").removeClass("show");
    }
    }
    }
    });

$("#mainnav-toggler-container button").click(function (e) {
    if (window.innerWidth < 992) {
    $("#mainnav .show").removeClass("show");
    }
    });


// show dropdown menu when mainnav nav-link gets focus; hide other dropdowns
$("#mainnav .nav-link").focus(function (e) {
    if (window.innerWidth >= 992) {
    $("#mainnav [aria-expanded=true]").attr("aria-expanded", "false");
    $("#mainnav .show").removeClass("show");
    $(this).attr("aria-expanded", "true");
    $(this).parent().addClass("show");
    $(this).parent().find(".dropdown-menu").addClass("show");
    }
    });



$("*").focus(function (e) {
    if ($(this).closest(".navbar").length == 0) {
    if (window.innerWidth >= 992) {
    $("#mainnav .show").removeClass("show");
    }
    }
    });


</script>

