---
const {id, height, width, show_border="True"} = Astro.props;

import Center from "./Center.astro";
---

<style>
    .canvas-container{
        border: solid 1px;
        border-color:  black;
    }

    .figureCaption{
        margin-top: 1rem;
    }

    canvas{
        background-color: white;
        border: solid 1px black;
        border-radius: 10px;
    }
</style>


<Center>
<div id={id+'_container'}>
    <canvas id={id} height={height} width={0} class={show_border=='True' ? "canvas-container" : ''} data-bs-theme="light"></canvas>

    <div class="w-100"> 
            <slot />
    </div>
</div>
</Center>

<script is:inline define:vars={{id, width}}>
    let body_width;
    let canvas_width;

    function set_width(id, width){
        body_width = $('body').width();
        if (body_width > 1200){
            canvas_width = Math.min((body_width - 24)*100/162, width);
        }else if (body_width > 998){
            canvas_width = Math.min((body_width - 24)*20/27, width);
        }else{
            canvas_width = Math.min((body_width - 24), width);
        }
        

        $('#'+id+'_container').width(canvas_width);
        document.querySelector(`canvas#${id}`).width = canvas_width - 4;
    }

    set_width(id, width);

    $( window ).on( "resize", function() {
        set_width(id, width)

    } );
</script>
