---
const {title} = Astro.props;
---

<div class="callout-grid mt-0 mt-xl-3">
    <div class="w-100 px-0 pe-lg-2">
        <h1 class="fw-bold text-center text-body-emphasis" id="page_title" set:html={title}></h1>

        <slot />
    </div>
    <div class="w-100">
        <slot name="cards"/>
    </div>
</div>
