<style>
    .callout-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    @media (min-width: 992px){
		.callout-grid{
			grid-template-columns: 20fr 7fr;
		}
	}
</style>

<div class="w-100 callout-grid">
    <div class="w-100">
        <slot />
    </div>
    <div class="w-100 ps-2">
        <slot name="cards" />
    </div>
</div>